/* error shake */
.shake {
	animation: shake 0.5s;
}
@keyframes shake {
	0% {
		transform: translateX(0);
	}
	20% {
		transform: translateX(-5px);
	}
	40% {
		transform: translateX(4px);
	}
	60% {
		transform: translateX(-3px);
	}
	80% {
		transform: translateX(2px);
	}
	100% {
		transform: translateX(0);
	}
}

/* dialog pop up animation */
.popup-show {
	animation: slideIn 0.5s forwards, slideOut 0.5s 2s forwards;
}
@keyframes slideIn {
	from {
		top: -50px;
		opacity: 0;
	}
	to {
		top: 50%;
		opacity: 1;
	}
}
@keyframes slideOut {
	from {
		top: 50%;
		opacity: 1;
	}
	to {
		top: -50px;
		opacity: 0;
	}
}

/* honba,calculate,reset button animation on click */
.honbaAdjustBtn:active,
.calculate-button:active,
.reset-button:active,
.help-button:active {
	transform: translateY(5px);
}

/* dora button hover animation */
.revealedDora-icon {
	transition: transform 0.5s;
	transform-style: preserve-3d;
}
.dora-button:hover .revealedDora-icon {
	transform: rotateX(180deg);
	transform-origin: middle;
}

/* ura dora button hover animation */
.uraDora-button:hover .uraDora-icon {
	animation: moveUpAndDisappear 0.5s forwards, moveUpAndReappear 0.5s 0.3s forwards;
}
.uraDora-button:hover .revealedUraDora-icon {
	animation: moveUpAndDisappear 0.5s forwards, moveUpAndReappearWithAllConcealedTile 0.5s 0.3s forwards, flipUraDora 0.5s 0.8s forwards;
}
.uraDora-button:hover.activeTileType .revealedUraDora-icon {
	animation: moveUpAndDisappear 0.5s forwards, active-moveUpAndReappearWithAllConcealedTile 0.5s 0.3s forwards,
		active-flipUraDora 0.5s 0.8s forwards;
}
@keyframes moveUpAndDisappear {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	100% {
		transform: translateY(-100%);
		opacity: 0;
	}
}
@keyframes moveUpAndReappear {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes moveUpAndReappearWithAllConcealedTile {
	0% {
		background-color: #b6795d;
	}
	1% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		background-color: #b6795d;
		opacity: 1;
	}
}
@keyframes active-moveUpAndReappearWithAllConcealedTile {
	0% {
		background-color: #d1a691;
	}
	1% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		background-color: #d1a691;
		opacity: 1;
	}
}
@keyframes flipUraDora {
	0% {
		transform: rotateX(180deg);
	}
	100% {
		background-color: #d1a691;
		transform: rotateX(0deg);
	}
}
@keyframes active-flipUraDora {
	0% {
		transform: rotateX(180deg);
		background-color: #d1a691;
	}
	100% {
		background-color: beige;
		transform: rotateX(0deg);
	}
}

/* ron tile hover animation */
.tenpai-button:hover .tenpai-icon {
	animation: horizonal-move-reversed 0.5s forwards;
}
.tenpai-button:hover .tenpaiHand-icon {
	animation: reveal-flip 0.5s 0.5s forwards;
}
.tenpai-button.activeTileType:hover .tenpaiHand-icon {
	animation: active-reveal-flip 0.5s 0.5s forwards;
}
@keyframes horizonal-move-reversed {
	from {
		transform: translateX(30px);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes reveal-flip {
	from {
		transform: rotateX(0deg);
		background-color: #b6795d;
	}
	to {
		transform: rotateX(180deg);
		background-color: #d1a691;
	}
}
@keyframes active-reveal-flip {
	from {
		transform: rotateX(0deg);
		background-color: #d1a691;
	}
	to {
		transform: rotateX(180deg);
		background-color: beige;
	}
}

/* chi/pon and kan hover animation */
.openTriple-button:hover .openTriplet-icon {
	animation: horizonal-move 0.5s forwards;
}
.openTriple-button:hover .openTripletFromOpponent-icon {
	animation: delay-slide-in 1s forwards;
}
.openQuad-button:hover .openQuad-icon {
	animation: horizonal-move 0.5s forwards;
}
.openQuad-button:hover .openQuadFromOpponent-icon {
	animation: delay-slide-in 1s forwards;
}
@keyframes horizonal-move {
	from {
		transform: translateX(-30px);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 100;
	}
}
@keyframes delay-slide-in {
	0% {
		transform: translateX(-30px);
		opacity: 0;
	}
	49% {
		transform: translateX(-30px);
		opacity: 0;
	}
	50% {
		transform: translateX(-30px);
		opacity: 100;
	}
	100% {
		transform: translateX(0);
		opacity: 100;
	}
}

/* ankan hover animation */
.concealedQuad-button:hover .concealedQuad-icon {
	animation: ankan-horizonal-move 0.5s forwards, conceal-flip 0.5s 0.5s forwards;
}
.concealedQuad-button:hover .faceUpConcealedQuad-icon {
	animation: ankan-horizonal-move 0.5s forwards;
}
.concealedQuad-button.activeTileType:hover .concealedQuad-icon {
	animation: active-ankan-horizonal-move 0.5s forwards, active-conceal-flip 0.5s 0.5s forwards;
}
.concealedQuad-button.activeTileType:hover .faceUpConcealedQuad-icon {
	animation: active-ankan-horizonal-move 0.5s forwards;
}
@keyframes ankan-horizonal-move {
	from {
		transform: translateX(-30px);
		background-color: #d1a691;
	}
	to {
		transform: translateX(0);
		background-color: #d1a691;
	}
}
@keyframes conceal-flip {
	from {
		transform: rotateX(0deg);
		background-color: #d1a691;
	}
	to {
		transform: rotateX(180deg);
		background-color: #b6795d;
	}
}
@keyframes active-ankan-horizonal-move {
	from {
		transform: translateX(-30px);
		background-color: beige;
	}
	to {
		transform: translateX(0);
		background-color: beige;
	}
}
@keyframes active-conceal-flip {
	from {
		transform: rotateX(0deg);
		background-color: beige;
	}
	to {
		transform: rotateX(180deg);
		background-color: #d1a691;
	}
}
