body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: beige;
	/* overflow: hidden; */
	font-family: "Kanteiryu", sans-serif;
}

/* scroll bar - chrome*/
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: beige;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #d1a691;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #b6795d;
}

.container {
	text-align: center;
}

.flex-container {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	margin: 10px;
	width: auto;
}

.flex-item {
	border: 2px solid black;
	margin: 10px;
	flex-grow: 1;
}

.flex-item-navbar {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	user-select: none;
	margin: 10px;
}
/* todo - navbar */
.navbarItem {
	font-family: "Kanteiryu", sans-serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 200px;
	margin: 10px 50px 10px 50px;
	color: #d1a691;
	outline: none;
	background-color: transparent;
	border-color: transparent;
	border-radius: 5px;
	transition: all 0.3s ease;
}
.navbarItem:hover {
	box-shadow: inset 1px 1px 5px #b6795d, inset -1px -1px 5px #b6795d;
}
.navbarItem:active {
	/* transform: translateY(5px); */
	background-color: #b6795d;
	color: beige;
	border-color: #b6795d;
	border: 1px;
	outline: #b6795d;
}

/* todo - active navbar page */
.navbarItemActive {
	color: #b6795d;
}

.flex-item-displayBar {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	margin: 10px;
}
.flex-item-displayBarTile {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 10px 50px 10px 50px;
}
/* for open tiles - 🀇🀈🀉🀊🀊🀋🀋🀌🀌🀌<--->"🀍"🀎🀏 */
.displayBarSpaceBetweenConcealedAndOpens {
	margin-left: 80px;
}
/* for gaps between open tiles - 🀇🀈🀉🀊🀊🀋🀋		🀋🀌🀌<->"🀍"🀎🀏 */
.displayBarSpaceBetweenOpens {
	margin-left: 15px;
}
/* ron tile - 🀇🀈🀉🀊🀊🀋🀋🀌🀌🀍🀎🀏🀏 "🀏"*/
.displayBarRonTile {
	margin-left: 15px;
	margin-right: 0px;
	margin-top: 8px;
	transform: rotate(90deg);
}

.flex-item-tilesGrid {
	flex-grow: 4;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-item-ronTypes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-item-tileTypes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.flex-item-handDoraTenpai {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: 100%;
	margin-right: 100%;
}

.flex-item-chiPonKan,
.flex-item-switches {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: 100%;
	margin-right: 100%;
}

.flex-item-kaze {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 100%;
	margin-right: 100%;
}

.flex-item-honbaItem {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-item-honba {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-left: 100%;
	margin-right: 100%;
}

.flex-item-tableWind,
.flex-item-playerWind {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	margin-left: 80px;
	margin-right: 80px;
}

.flex-item-calculateBtn {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.label-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	user-select: none;
}

.label-tableWind,
.label-playerWind {
	font-size: 16px;
	color: #b6795d;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: -10px;
}

.label-concealed,
.label-open,
.label-openQuad,
.label-concealedQuad,
.label-dora,
.label-tenpai {
	font-size: 16px;
	color: #b6795d;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
}

.label-tsumo {
	font-size: 16px;
	color: #b6795d;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	/*margin: -10px 20px 0px 20px;*/
}

.label-agariyame {
	font-size: 16px;
	color: #b6795d;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	/*margin: -10px 20px 0px 20px;*/
}

.label-riichi {
	font-size: 16px;
	color: #b6795d;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	transition: opacity 0.3s, transform 0.3s;
	/*margin: -10px 20px 0px 20px;*/
}

.riichi-image {
	position: absolute;
	bottom: 0; /* Adjust as necessary */
	left: 50%;
	transform: translateX(-50%) translateY(20px);
	transition: opacity 0.3s, transform 0.3s;
	opacity: 0;
	pointer-events: none; /* Prevent image from blocking interactions */
}

.label-honba {
	font-size: 16px;
	color: #b6795d;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	margin: 10px 0px 10px 0px;
}

.label-honbaTimes {
	font-size: 16px;
	color: #b6795d;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 30px 0px 0px;
	width: 55px;
}

/*todo*/
.tiles {
}

/*tiles Grid*/
/*todo*/
.tile {
	width: 20px;
	height: 30px;
	padding: 10px;
	background-color: #ffffff;
	border: 2px solid #ddd;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*pointer-events: none;*/
	background-size: 80%; /* or 'cover' depending on your needs */
	background-repeat: no-repeat;
	background-position: center;
}

.tileImg {
	scale: 10%;
	background: transparent;
}

.tile-grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 10px;
	margin: 10px;
}

.kazeTile {
	width: 20px;
	height: 30px;
	padding: 10px;
	background-color: #ffffff;
	border: 2px solid #ddd;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*pointer-events: none;*/
	margin: 5px;
	transition: all 0.3s ease;
}

/*todo*/
.tile.selected {
	background-color: #bada55;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*tile type button*/
.concealed-button,
.open-button,
.concealedQuad-button,
.openQuad-button,
.dora-button,
.tenpai-button {
	border: 2px solid #b6795d;
	background-color: transparent;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	cursor: pointer;
	outline: none;
	height: 50px;
	margin: 0px 10px 0px 10px;
	transition: all 0.3s ease;
}

.concealed-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #b6795d;
	margin: 0.5px;
}

.openTriplet-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #d1a691;
	margin: 0px 0.5px;
}

.openTripletFromOpponent-icon {
	width: 25px;
	height: 20px;
	border-radius: 3px;
	background-color: #d1a691;
	margin: 5px 0.5px 0px 0px;
	bottom: 0;
}

.openQuadFromOpponent-icon {
	width: 25px;
	height: 20px;
	border-radius: 3px;
	background-color: #d1a691;
	margin: 5px 0.5px 0px 0px;
	bottom: 0;
}
.openQuad-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #d1a691;
	margin: 0.5px;
	bottom: 0;
}
.concealedQuad-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #b6795d;
	margin: 0.5px;
	bottom: 0;
}

.faceUpConcealedQuad-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #d1a691;
	margin: 0.5px;
	bottom: 0;
}

.dora-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #b6795d;
	margin: 0.5px;
	bottom: 0;
}
.revealedDora-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #d1a691;
	margin: 0.5px;
	bottom: 0;
}

.tenpaiHand-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #b6795d;
	margin: 0.5px;
	bottom: 0;
}

.tenpai-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #d1a691;
	margin: 0px 0px 0px 10px;
	bottom: 0;
}

/* todo */
/* color transform animation when hover */
.concealed-button:hover {
	/* background-color: #b6795d; */
	box-shadow: inset 1px 1px 5px #b6795d, inset -1px -1px 5px #b6795d;
}

/* todo */
/* click to smaller the tile size and restore */
.concealed-button:active {
	/* background-color: #d1a691; */
}

.activeTileType {
	background-color: #b6795d;
}

.activeTileType .concealed-icon {
	background-color: #d1a691;
}

.activeTileType .openTripletFromOpponent-icon {
	background-color: beige;
}

.activeTileType .openTriplet-icon {
	background-color: beige;
}

.activeTileType .openQuad-icon {
	background-color: beige;
}

.activeTileType .openQuadFromOpponent-icon {
	background-color: beige;
}

.activeTileType .concealedQuad-icon {
	background-color: #d1a691;
}

.activeTileType .faceUpConcealedQuad-icon {
	background-color: beige;
}

.activeTileType .tenpaiHand-icon {
	background-color: #d1a691;
}

.activeTileType .tenpai-icon {
	background-color: beige;
}

.activeTileType .dora-icon {
	background-color: #d1a691;
}

.activeTileType .revealedDora-icon {
	background-color: beige;
}

.activeTableWind {
	background-color: rgb(176, 203, 224);
}

.activePlayerWind {
	background-color: rgb(176, 203, 224);
}

.popup-message {
	background-color: rgb(245, 112, 112);
	color: #fff;
	opacity: 0;
	width: auto;
	text-align: center;
	padding: 16px;
	position: fixed;
	z-index: 1;
	top: -50px;
	border-radius: 10px;
	user-select: none;
}

.popup-message p,
.popup-message h1,
.popup-message h2 {
	color: rgba(255, 255, 255, 1);
	opacity: 1;
}

/*
justify-content: center;
	align-items: center;
*/

/* slider switch */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin: 11px 0px 0px 0px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #b1a099;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
input:checked + .slider {
	background-color: #b6795d;
}
input:focus + .slider {
	box-shadow: 0 0 1px #b6795d;
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}

.disabled {
	opacity: 0.2;
	pointer-events: none;
}

.honba100 {
	transform: scale(1.5) rotate(0deg);
	transform-origin: center;
	margin: 10px 30px 10px 30px;
	width: 100px;
	height: 10px;
}

.honbaAdd {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 5px 0px 5px;
}
.honbaDrop {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 0px 0px;
	text-align: center;
}
.honbaReset {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 0px 5px;
	text-align: center;
}

.calculate-button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Kanteiryu", sans-serif;
	text-align: center;
	width: 200px;
	height: 40px;
	margin: 10px 5px 10px 5px;
	background-color: transparent;
	border-radius: 5px;
	color: #b6795d;
	border: 2px solid #b6795d;
	outline: none;
	transition: all 0.3s ease;
}
.reset-button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Kanteiryu", sans-serif;
	text-align: center;
	width: 80px;
	height: 40px;
	margin: 10px 5px 10px 5px;
	background-color: transparent;
	border-radius: 5px;
	color: #b6795d;
	border: 2px solid #b6795d;
	outline: none;
	transition: all 0.3s ease;
}

.honbaAdjustBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Kanteiryu", sans-serif;
	width: 30px;
	height: 30px;
	background-color: transparent;
	border-radius: 5px;
	color: #b6795d;
	border: 2px solid #b6795d;
	outline: none;
	transition: all 0.3s ease;
}

.honbaAdjustBtn:hover {
	box-shadow: inset 1px 1px 5px #b6795d, inset -1px -1px 5px #b6795d;
}
.honbaAdjustBtn:active {
	transform: translateY(5px);
	/* background-color: #b6795d;
	color: #d1a691; */
}

.calculate-button:hover,
.reset-button:hover {
	box-shadow: inset 1px 1px 5px #b6795d, inset -1px -1px 5px #b6795d;
}

.calculate-button:active,
.reset-button:active {
	transform: translateY(5px);
	/* background-color: #b6795d;
	color: beige; */
}

/* todo for riichi switch img - switch pop up red dot + label change to image*/
.riichiStickImg {
}

@keyframes slideIn {
	from {
		top: -50px;
		opacity: 0;
	}
	to {
		top: 50%;
		opacity: 1;
	}
}

@keyframes slideOut {
	from {
		top: 50%;
		opacity: 1;
	}
	to {
		top: -50px;
		opacity: 0;
	}
}

.popup-show {
	animation: slideIn 0.5s forwards, slideOut 0.5s 2s forwards;
}

@font-face {
	font-family: "Kanteiryu";
	src: url("/font/ipag.ttf") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}
	20% {
		transform: translateX(-5px);
	}
	40% {
		transform: translateX(4px);
	}
	60% {
		transform: translateX(-3px);
	}
	80% {
		transform: translateX(2px);
	}
	100% {
		transform: translateX(0);
	}
}

.shake {
	animation: shake 0.5s;
}

/* Responsive adjustments */
/* @media (max-width: 600px) {
	.tiles {
		grid-template-columns: repeat(2, 1fr);
	}

	.tile {
		width: 50px;
		height: 70px;
	}
} */
