body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: beige;
	/* overflow: hidden; */
	font-family: "Kanteiryu", sans-serif;
}

button {
	font-family: "Kanteiryu", sans-serif;
}

@font-face {
	font-family: "Kanteiryu";
	src: url("./font/ipag.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/* scroll bar - chrome*/
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: beige;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: #d1a691;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #b6795d;
}

.container {
	text-align: center;
}

.flex-container {
	display: flex;
	flex-direction: column;
	/* border: 2px solid black; */
	margin: 10px;
	width: auto;
}

.flex-item {
	/* border: 2px solid black; */
	border: 2px solid #b6795d;

	border-radius: 15px;
	margin: 10px;
	flex-grow: 1;
}

.flex-item-navbar {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	user-select: none;
	margin: 10px;
}

/* revamp to > xxx < */
/* todo - navbar */
.navbarItem {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 200px;
	margin: 10px 50px 10px 50px;
	color: #d1a691;
	outline: none;
	background-color: transparent;
	border-color: transparent;
	border-radius: 5px;
	transition: all 0.3s ease;
}
.navbarItem:hover {
	box-shadow: inset 1px 1px 5px #b6795d, inset -1px -1px 5px #b6795d;
}
.navbarItem:active {
	background-color: #b6795d;
	color: beige;
	border-color: #b6795d;
	border: 1px;
	outline: #b6795d;
}
/* todo - active navbar page */
.navbarItemActive {
	color: #ff0000;
}

.flex-item-displayBar {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	margin: 10px;
	height: 60px;
}
.flex-item-displayBarTileLeft {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 10px 30px 10px 10px;
}
.flex-item-displayBarTileRight {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 10px 10px 10px 30px;
}
/* for open tiles - 🀇🀈🀉🀊🀊🀋🀋🀌🀌🀌<--->"🀍"🀎🀏 */
.displayBarSpaceBetweenConcealedAndOpens {
	margin-left: 80px;
}
/* for gaps between open tiles - 🀇🀈🀉🀊🀊🀋🀋		🀋🀌🀌<->"🀍"🀎🀏 */
.displayBarSpaceBetweenOpens {
	margin-left: 15px;
}
/* ron tile - 🀇🀈🀉🀊🀊🀋🀋🀌🀌🀍🀎🀏🀏 "🀏"*/
.displayBarRonTile {
	margin-left: 15px;
	margin-right: 0px;
	margin-top: 8px;
	transform: rotate(90deg);
}

.flex-item-doraBar {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
	padding: 0px 0px 10px 0px;
}

.flex-item-doraBarTile {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 2px;
	margin: 10px;
}

.flex-item-tilesGrid {
	flex-grow: 4;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-item-ronTypes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-item-tileTypes {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

.flex-item-ronOption {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.flex-item-handRon,
.flex-item-doraUraDora,
.flex-item-chiPonKan,
.flex-item-switches {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	flex-grow: 1;
}

.flex-item-kaze,
.flex-item-honba {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	flex-grow: 1;
}

.flex-item-honbaItem,
.flex-item-otherRiichiPlayers {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-item-tableWind,
.flex-item-playerWind {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	margin-left: 80px;
	margin-right: 80px;
}

.flex-item-calculateBtn {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.label-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
	user-select: none;
}

.label-tableWind,
.label-playerWind {
	font-size: 16px;
	color: #b6795d;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: -10px;
}

.label-concealed,
.label-open,
.label-openQuad,
.label-concealedQuad,
.label-dora,
.label-uraDora,
.label-tenpai {
	font-size: 16px;
	color: #b6795d;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
}

.label-agariyame,
.label-ippatsu,
.label-tsumo,
.label-riichi,
.label-rinshan,
.label-chankan,
.label-haite,
.label-houte {
	font-size: 16px;
	color: #b6795d;
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	margin: 0px 20px 0px 20px;
}

/* todo - riichi effect */
.label-riichi {
	transition: opacity 0.3s, transform 0.3s;
}

.label-honba,
.label-otherRiichiPlayers {
	font-size: 16px;
	color: #b6795d;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	margin: 10px 0px 10px 0px;
}

.label-honbaTimes,
.label-otherRiichiTimes {
	font-size: 16px;
	color: #b6795d;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 30px 0px 0px;
	width: 55px;
}

/* todo - hover and active to be blue */
/*tiles Grid*/
.tile {
	width: 20px;
	height: 30px;
	padding: 10px;
	background-color: #ffffff;
	border: 2px solid #ddd;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.5s ease;
}
.tile-flipped {
	width: 20px;
	height: 30px;
	padding: 10px;
	background-color: #b6795d;
	border: 2px solid #b6795d;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.5s ease;
}
.tile-invisible {
	width: 24px;
	height: 34px;
	padding: 10px;
	background-color: #b6795d;
	margin: 0px;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.05s ease;
	opacity: 0;
}

.tile:hover {
	background-color: #c6dbf3;
}

.tile:hover:active {
	background-color: #b0cbe0;
}

.tileImg {
	scale: 10%;
	background: transparent;
}

.tile-grid {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 2px;
	margin: 10px;
}

.kazeTile {
	width: 20px;
	height: 30px;
	padding: 10px;
	background-color: #ffffff;
	border: 2px solid #ddd;
	border-radius: 7px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*pointer-events: none;*/
	margin: 5px;
	transition: all 0.3s ease;
}

button {
	font-size: 16px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*tile type button*/
.concealed-button,
.openTriple-button,
.concealedQuad-button,
.openQuad-button,
.dora-button,
.uraDora-button,
.tenpai-button {
	border: 2px solid #b6795d;
	background-color: transparent;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	cursor: pointer;
	outline: none;
	height: 50px;
	margin: 0px 10px 0px 10px;
	transform-style: flat;
	perspective: 1000px;
	transition: all 0.3s ease;
}

.concealed-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #b6795d;
	margin: 0.5px;
}
.openTriplet-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #d1a691;
	margin: 0px 0.5px;
}
.openTripletFromOpponent-icon {
	width: 25px;
	height: 20px;
	border-radius: 3px;
	background-color: #d1a691;
	margin: 5px 0.5px 0px 0px;
	bottom: 0;
}
.openQuadFromOpponent-icon {
	width: 25px;
	height: 20px;
	border-radius: 3px;
	background-color: #d1a691;
	margin: 5px 0.5px 0px 0px;
	bottom: 0;
}
.openQuad-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #d1a691;
	margin: 0.5px;
	bottom: 0;
}
.concealedQuad-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #b6795d;
	margin: 0.5px;
	bottom: 0;
}
.faceUpConcealedQuad-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #d1a691;
	margin: 0.5px;
	bottom: 0;
}
.dora-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #b6795d;
	margin: 0.5px;
	bottom: 0;
	display: inline-block;
	transition: transform 0.3s, background-color 0.3s;
	transform-style: preserve-3d;
}
.revealedDora-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #d1a691;
	margin: 0.5px;
	bottom: 0;
	display: inline-block;
}
.uraDora-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #b6795d;
	margin: 0.5px;
	bottom: 0;
	display: inline-block;
	transition: transform 0.3s, background-color 0.3s;
	transform-style: preserve-3d;
}
.revealedUraDora-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #d1a691;
	margin: 0.5px;
	bottom: 0;
	display: inline-block;
}
.tenpaiHand-icon {
	width: 20px;
	height: 25px;
	border-radius: 3px;
	background-color: #b6795d;
	margin: 0.5px;
	bottom: 0;
}
.tenpai-icon {
	width: 25px;
	height: 20px;
	border-radius: 3px;
	background-color: #d1a691;
	margin: 5px 0px 0px 0.5px;
	bottom: 0;
}

.activeTileType {
	background-color: #b6795d;
}

/* #d1a691 */
.activeTileType .concealed-icon,
.activeTileType .concealedQuad-icon,
.activeTileType .tenpaiHand-icon,
.activeTileType .dora-icon,
.activeTileType .uraDora-icon {
	background-color: #d1a691;
}

/* beige */
.activeTileType .openTripletFromOpponent-icon,
.activeTileType .openTriplet-icon,
.activeTileType .openQuad-icon,
.activeTileType .openQuadFromOpponent-icon,
.activeTileType .faceUpConcealedQuad-icon,
.activeTileType .tenpai-icon,
.activeTileType .revealedDora-icon {
	background-color: beige;
}

.activeTableWind {
	background-color: rgb(176, 203, 224);
}

.activePlayerWind {
	background-color: rgb(176, 203, 224);
}

.popup-message {
	background-color: rgb(245, 112, 112);
	color: #fff;
	opacity: 0;
	width: auto;
	text-align: center;
	padding: 16px;
	position: fixed;
	z-index: 1;
	top: -50px;
	border-radius: 10px;
	user-select: none;
}

.popup-message p,
.popup-message h1,
.popup-message h2 {
	color: rgba(255, 255, 255, 1);
	opacity: 1;
}

/*
justify-content: center;
	align-items: center;
*/

/* slider switch */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin: 11px 0px 0px 0px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #b1a099;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
input:checked + .slider {
	background-color: #b6795d;
}
input:focus + .slider {
	box-shadow: 0 0 1px #b6795d;
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}

.disabled {
	opacity: 0.2;
	pointer-events: none;
}

.honba-image {
	transform: scale(1.5) rotate(0deg);
	transform-origin: center;
	margin: 10px 30px 10px 30px;
	width: 100px;
	height: 10px;
}
.otherRiichi-image {
	transform: scale(1.5) rotate(0deg);
	transform-origin: center;
	margin: 10px 30px 10px 30px;
	width: 100px;
	height: 10px;
}

.honbaAdd,
.otherRiichiAdd {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 5px 0px 5px;
}
.honbaDrop,
.otherRiichiDrop {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 0px 0px;
	text-align: center;
}
.honbaReset,
.otherRiichiReset {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 0px 5px;
	text-align: center;
}
.honbaAdjustBtn,
.otherRiichiAdjustBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 30px;
	background-color: transparent;
	border-radius: 5px;
	color: #b6795d;
	border: 2px solid #b6795d;
	outline: none;
	transition: all 0.3s ease;
}

.calculate-button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 200px;
	height: 40px;
	margin: 10px 5px 10px 5px;
	background-color: transparent;
	border-radius: 5px;
	color: #b6795d;
	border: 2px solid #b6795d;
	outline: none;
	transition: all 0.3s ease;
}
.reset-button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 80px;
	height: 40px;
	margin: 10px 5px 10px 5px;
	background-color: transparent;
	border-radius: 5px;
	color: #b6795d;
	border: 2px solid #b6795d;
	outline: none;
	transition: all 0.3s ease;
}
.help-button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 60px;
	height: 40px;
	margin: 10px 5px 10px 5px;
	background-color: transparent;
	border-radius: 5px;
	color: #b6795d;
	border: 2px solid #b6795d;
	outline: none;
	transition: all 0.3s ease;
}

.hoverShadow:hover {
	box-shadow: inset 1px 1px 5px #b6795d, inset -1px -1px 5px #b6795d;
}
.hoverBlue:hover {
	background-color: #b0cbe0;
}

/* todo for riichi switch img - switch pop up red dot + label change to image*/
.riichi-image {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%) translateY(20px);
	transition: opacity 0.3s, transform 0.3s;
	opacity: 0;
	pointer-events: none;
}
